<!-- Title section -->
<div class="section-title">
  <h1> Découvrez nos artistes </h1>
</div>
<!-- Artists count -->
<div class="main-container">
  <div class="count">
    <%= @artists.count %> artistes
  </div>
</div>
<!-- Artist cards container -->
<div class="columns-container">
  <!-- TODO passer les artists en locals dans une partial de artist_card -->
  <% @artists.each do |artist| %>
    <div class="column">
      <div class="artist-card">
        <div class="artist-img">
          <!-- If an artist does not have artworks, display a random image -->
          <% if artist.artworks.first %>
            <%= cl_image_tag artist.artworks.first.photo, crop: :fill %>
          <% else %>
            <%= image_tag "artwork_2.png" %>
          <% end %>
        </div>
        <div class="artist-infos">
          <p class="artist-category">
            <%= artist.domain %>
          </p>
          <%= link_to artist_path(artist) do %>
            <h2 class="artist-name">
              <%= artist.last_name %> <%= artist.first_name %>
            </h2>
          <% end %>
          <p class="artist-artworks">
            <%= artist.artworks.count %> oeuvres
          </p>
        </div>
      </div>
    </div>
  <% end %>
 </div>

