<div class="main-container">
  <p class="mobile-only"><%= link_to 'Retour aux artistes', artists_path %></p>
</div>

<div class="main-container artist-container">
  <!-- Left column with Artist Infos -->
  <div class="artist-infos-container">
    <h2 class="title-1 title-1-small-size no-margin"> <%= @artist.first_name %> <%= @artist.last_name %></h2>
    <h3 class="show-artist-art-type artworks-category-title"> <%= @artist.domain %> </h3>
    <div class="artist-photo-container">
      <%= cl_image_tag @artist.photo, height: 800, width: 800, crop: :fill, :class => "artist-photo" %>
    </div>
    <p class="artist-bio"><%= @artist.biography %></p>
  </div>
  <!-- Right column with Artist Artworks -->
  <div class="artist-artworks-container half-page-columns-container">
    <% @artworks.select { |artwork| artwork.artist_id == @artist.id }.each do |artwork| %>
    <%= render 'shared/artist_card', artwork: artwork %>
    <% end %>
  </div>
</div>
