<div class="articles-container">
  <div class="articles-left-part">
    <% @articles.each do |article|%>
      <div class="articles-illustrations">
        <%= link_to article_path(article) do %>
          <%= cl_image_tag article.picture, crop: :fill %>
          <h1 class="contents-types"><%= article.content_type %></h1>
          <h1 class="articles-titles"><%= article.title %></h1>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="articles-right-part">
    <div class="articles-calendar">
      <div class="calendar-title">
        <h1>Calendrier</h1>
      </div>
      <% @articles.each do |article|%>
        <%= link_to article_path(article) do %>
          <div class="calendar-row">
            <h1 class="cal-content-type">
              <% if article.when != nil %>
                <%= article.when.strftime("%d-%m-%Y") %>
              <% else %>
                <%= article.content_type %>
              <% end %>
            </h1>
            <h1 class="cal-article-title">
              <%= article.title %>
            </h1>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
