<!-- Menu #2 -->
<%= render 'shared/artworks_navbar' %>
<!-- Title section -->
<!-- <div class="section-title">
  <h1> Découvrez nos oeuvres </h1>
</div> -->
<!-- Artists count -->
<div class="main-container">
  <div class="count margin-under-navbar">
    <%= @artworks.count %> oeuvres
  </div>
</div>
<!-- Artist cards container -->
<div class="columns-container">
  <!-- TODO passer les artists en locals dans une partial de artist_card -->
  <% @artworks.each do |artwork| %>
    <div class="column">
      <div class="artworks-card">
        <%= link_to artwork_path(artwork) do %>
          <div class="artworks-img">
            <%= cl_image_tag artwork.photo, crop: :fill %>
          </div>
        <% end %>
        <!-- Sold label for sold artwork  -->
        <div class="artworks-sold">
          Vendue
        </div>
        <div class="artworks-infos">
          <h2 class="artworks-artist">
            <%= artwork.artist.first_name %> <%= artwork.artist.last_name %>
          </h2>
          <%= link_to artwork_path(artwork) do %>
            <h2 class="artworks-name">
              <%= artwork.name %>
            </h2>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
 </div>

 <%= paginate @artworks %>
