<div class="main-container">
  <div class="artwork-container">
    <div class="artwork-img">
      <%= cl_image_tag @artwork.photo, crop: :fill, alt: "#{@artwork.name} - #{@artwork.artist.first_name} #{@artwork.artist.last_name}" %>
    </div>
    <div class="artwork-infos">
      <div class="artwork-infos-1">
      <h2 class="title-1 title-1-small-size"> <%= @artwork.name %> </h2>
      <h3 class="artist-name-show"> <%= @artwork.artist.first_name %> <%= @artwork.artist.last_name %></h3>
      <% if @artwork.sold %>
      <p class="artworks-sold"> Vendue </p>
      <% end %>
      <p class="artwork-info"> <%= raw @artwork.description %> </p>


      <ul>

        <li class="dimensions-content black">
          <%= image_tag "cube.png", class: "icon" %>
          <span class="dimensions-titles black bold">H&nbsp</span>
          <span class="dimensions-content black"><%= @artwork.height %> cm &nbsp</span>
          <span class="dimensions-titles black bold">L&nbsp</span>
          <span class="dimensions-content black"><%= @artwork.width %> cm&nbsp</span>
          <% if @artwork.depth != nil  %>
            <span class="dimensions-titles black bold">&nbspP&nbsp</span>
            <span class="dimensions-content black"><%= @artwork.depth %> cm&nbsp</span>
          <% end %>
        </li>

        <li class="dimensions-content black"> <%= image_tag "designer.png", class: "icon" %><%= @artwork.technique %></li>

        <% if @artwork.number %>
        <li class="dimensions-content black"> <%= image_tag "hash.png", class: "icon" %><%= @artwork.number %></li>
        <% end %>

        <% if @artwork.year %>
        <li class="dimensions-content black"> <%= image_tag "timeline.png", class: "icon" %><%= @artwork.year %></li>
        <% end %>

        <li class="dimensions-content black"> <%= image_tag "euro.png", class: "icon" %><%= @artwork.price %></li>
      </ul>
      </div>



      <div class="button-container">
        <div class="artwork-info explanation">
          Intéressé par cette oeuvre ? Contactez-nous !
        </div>
            <%= form_tag artwork_form_email_path do %>
            <div class="flex-inline">
              <%= text_field_tag :name,
                params[:name],
                required: 'required',
                class: "form-control contact-form-input",
                id: "name-field",
                placeholder: "Nom complet"
              %>
              <%= email_field_tag :mail,
                params[:mail],
                required: 'required',
                class: "form-control contact-form-input",
                id: "email-field",
                placeholder: "Adresse email"
              %>
            </div>
              <%= text_area_tag :query,
                "Bonjour, est-il possible de recevoir des informations supplémentaires à propos de cette oeuvre ?",
                class: "form-control contact-form-input",
                rows: 3
              %>
            <%= hidden_field_tag :artwork_name, @artwork.name %>
            <%= hidden_field_tag :artwork_id, @artwork.id %>
            <%= hidden_field_tag :artist_fn, @artwork.artist.first_name %>
            <%= hidden_field_tag :artist_ln, @artwork.artist.last_name %>
            <div class="button-elements">
              <div class="button-element-display">
                <div class="button-element-content">
                  <%= submit_tag "Contacter la galerie", class: "submit-button-text", data: { confirm: "Se renseigner sur cette oeuvre ?" } %>
                </div>
                <div class="button-hide-block">
                </div>
              </div>
              <svg class="button-svg block_edge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="black" points="0,0 0,100 100,100"/>
              </svg>
            </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="artwork-artist-container">
    <div class="artwork-artist-other">
      <h2 class="title-2"> Oeuvres du même artiste </h2>
      <div class="full-page-columns-container">
        <% @artworks.each do |artwork| %>
        <%= render 'shared/artwork_card', artwork: artwork %>
        <% end %>
      </div>
    </div>
    <%= link_to artist_path(@artist) do %>
      <h2 class="button secondary"> Découvrir l'artiste </h2>
    <% end %>
  </div>
</div>
