<div class="main-container">
  <div class="artwork-container">
    <%= link_to artworks_path do %>
      <p class="count previous-page"> < Retour aux oeuvres </p>
    <% end %>
    <div class="artwork-img">
      <%= cl_image_tag @artwork.photo, crop: :fill %>
    </div>
    <div class="artwork-infos">
      <h2 class="title-1 title-1-small-size"> <%= @artwork.name %> </h2>
      <h3 class="artist-name"> <%= @artwork.artist.first_name %> <%= @artwork.artist.last_name %></h3>
      <p class="artwork-info"> <%= @artwork.description %> </p>

      <ul>
        <li class="dimensions-content black"> <%= @artwork.artwork_domain %></li>
        <li class="dimensions-content black"> <div class="flex-inline"> <p class="dimensions-titles black">H&nbsp</p>
          <p class="dimensions-content black"><%= @artwork.height %> cm ×&nbsp</p>
          <p class="dimensions-titles black">L&nbsp</p>
          <p class="dimensions-content black"><%= @artwork.width %> cm&nbsp</p>
          <% if @artwork.depth != 0 %>
            <p class="dimensions-titles black">×&nbspP&nbsp</p>
            <p class="dimensions-content black"><%= @artwork.depth %> cm&nbsp</p>
          <% end %>
        </p> </div> </li>
        <li class="dimensions-content black"> Entre 2000 € et 3000 € </li>
      </ul>



      <div class="button-container">
        <div class="artwork-info explanation">
          Intéressé par cette oeuvre ? Contactez-nous !
        </div>
            <%= form_tag artworks_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Nom complet"
              %>
              <%= email_field_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Adresse email"
              %>
              <%= text_area_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Bonjour, cette oeuvre m'intéresse pour un éventuel achat. Est-il possible de m'envoyer des informations additionnelles ?",
                rows: 4
              %>
            <%= submit_tag "Contacter la galerie", class: 'button primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="artwork-artist-container">
    <div class="artwork-artist-description">
      <h2 class="page-title"> A propos de <%= @artist.first_name %> <%= @artist.last_name %></h2>
      <p class="artwork-info"> <%= @artist.biography %> </p>
    </div>
    <div class="artwork-artist-other">
      <h2 class="page-title"> Oeuvres du même artiste </h2>
      <div class="columns-container">
        <% @artworks.each do |artwork| %>
        <%= render 'shared/artwork_card', artwork: artwork %>
        <% end %>
      </div>
    </div>
  </div>
</div>
