<div class="main-container">
  <div class="artwork-container">
    <%= link_to artworks_path do %>
      <p class="count previous-page"> < Retour aux oeuvres </p>
    <% end %>
    <div class="artwork-img">
      <%= cl_image_tag @artwork.photo, crop: :fill %>
    </div>
    <div class="artwork-infos">
      <h2> <%= @artwork.name %> </h2>
      <h3> <%= @artwork.artist.first_name %> <%= @artwork.artist.last_name %></h3>
      <p class="info-type" id="description"> Description </p>
      <p class="artwork-info"> <%= @artwork.description %> </p>
      <div class="flex-inline">
        <p class="info-type"> Dimensions </p> <p class="artwork-info"> <%= @artwork.dimensions %> </p>
      </div>
      <div class="flex-inline">
        <p class="info-type"> Type </p> <p class="artwork-info"> <%= @artwork.artwork_domain %> </p>
      </div>
      <div class="flex-inline">
        <p class="info-type"> Prix </p> <p class="artwork-info"> <i class="fas fa-paint-brush"></i><i class="fas fa-paint-brush"></i></p>
      </div>
      <div class="button-container">
        <div class="artwork-info explanation">
          Intéressé par cette oeuvre ? <br> Renseignez vos coordonnées, nous vous recontacterons au plus vite pour en discuter.
        </div>
            <%= form_tag artworks_path, method: :get do %>
              <%= text_field_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Nom complet"
              %>
              <%= email_field_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Adresse email"
              %>
              <%= text_area_tag :query,
                params[:query],
                class: "form-control contact-form-input",
                placeholder: "Bonjour, cette oeuvre m'intéresse pour un éventuel achat. Est-il possible de m'envoyer des informations additionnelles ?",
                rows: 4
              %>
            <%= submit_tag "Contacter la galerie", class: 'button primary' %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="artwork-artist-container">
    <div class="artwork-artist-description">
      <h2 class="page-title"> A propos de <%= @artist.first_name %> <%= @artist.last_name %></h2>
      <p class="artwork-info"> <%= @artist.biography %> </p>
    </div>
    <div class="artwork-artist-other">
      <h2 class="page-title"> Oeuvres du même artiste </h2>
      <div class="columns-container">
        <% @artworks.each do |artwork| %>
        <%= render 'shared/artwork_card', artwork: artwork %>
        <% end %>
      </div>
    </div>
  </div>
</div>
