  <h2> <%= @artwork.name %> </h2>
  <p> <%= @artwork.dimensions %> </p>
  <p> <%= @artwork.artwork_domain %> </p>
  <p> <%= @artwork.description %> </p>
  <%= link_to 'Retour aux oeuvres', artworks_path %>
