<div class="artworks-navbar">
    <!-- ONGLETS -->
    <!-- SCULPTURES -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Sculptures', class: "navbar-button" %>
    <% end %>
    <!-- PAINTINGS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Peintures', class: "navbar-button" %>
    <% end %>
    <!-- PHOTOGRAPHS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Photographies', class: "navbar-button" %>
    <% end %>
    <!-- DRAWINGS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Dessins', class: "navbar-button" %>
    <% end %>
    <!-- CERAMICS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Céramiques', class: "navbar-button" %>
    <% end %>
    <!-- INSTALLATIONS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Installations', class: "navbar-button" %>
    <% end %>
    <!-- INSTALLATIONS -->
    <%= form_tag artworks_path, method: :get, class: "form-inline" do %>
    <%= submit_tag 'Editions', class: "navbar-button" %>
    <% end %>
</div>

