<div class="full-page-column">
  <%= link_to artwork_path(artwork) do %>
  <div class="artworks-card">
    <div class="artworks-img">
      <%= cl_image_tag artwork.photo, crop: :fill, alt: "#{artwork.name} de #{artwork.artist.first_name} #{artwork.artist.last_name}" %>
    </div>
    <!-- Infos under card  -->
    <div class="artworks-infos">
      <h2 class="artworks-artist">
        <%= artwork.artist.first_name %> <%= artwork.artist.last_name %>
      </h2>
      <h2 class="artworks-name">
        <%= artwork.name %>
      </h2>
      <% if artwork.sold == true %>
          <h2 class="artworks-sold">Vendue</h2>
      <% else %>
        <div class="artworks-dimensions">
          <p class="dimensions-titles">H&nbsp</p>
          <p class="dimensions-content"><%= artwork.height %> cm &nbsp</p>
          <p class="dimensions-titles">L&nbsp</p>
          <p class="dimensions-content"><%= artwork.width %> cm&nbsp</p>
          <% if artwork.depth != nil %>
            <p class="dimensions-titles">&nbspP&nbsp</p>
            <p class="dimensions-content"><%= artwork.depth %> cm&nbsp</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
