<div class="gray-wrapper">
  <div class="main-container">
    <footer id="footer">
      <div class="footer-part-1">
        <div class="footer-follow-us">
          <div class="footer-menu-item bold">
            Suivre la galerie Isabelle Laverny
          </div>
          <div class="footer-icon">
            <i class="fab fa-facebook-square"></i>   
          </div>
        </div>
        <div class="footer-menu-item bold">
          Newsletter
        </div>
      </div>
      <div class="footer-part-2">
        <div class="footer-column">
          <%= link_to "Artistes", artists_path, class: "footer-menu-item bold" %>
          <%= link_to "Béatrice Lecomte", artists_path, class: "footer-menu-item" %>
          <%= link_to "Hervé Goube", artists_path, class: "footer-menu-item" %>
          <%= link_to "Christine Miller", artists_path, class: "footer-menu-item" %>
          <%= link_to "Valérie Leroux", artists_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Oeuvres", artworks_path, class: "footer-menu-item bold" %>
          <%= link_to "Les 3 muses", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Africaine Totem", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Arbre de Vie", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Arrivée à Deauville", artworks_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Expositions & actus", "#", class: "footer-menu-item bold" %>
          <%= link_to "La galerie", "#", class: "footer-menu-item bold" %>
          <%= link_to "Contact", "#", class: "footer-menu-item" %>
          <%= link_to "Adresse", "#", class: "footer-menu-item" %>
          <%= link_to "Presse", "#", class: "footer-menu-item" %>
        </div>
      </div>
      <div class="footer-part-3">
        <%= link_to "Conditions générales d'utilisation", "#", class: "footer-menu-item cgv" %>
        <%= link_to "Protection générales des données", "#", class: "footer-menu-item cgv" %>
        <%= link_to "Mentions légales", "#", class: "footer-menu-item cgv" %>
      </div>
    </footer>
  </div>
</div>
