<div class="gray-wrapper">
  <div class="main-container footer-container">
    <footer id="footer">
      <div class="footer-part-1">

        <div class="footer-follow-us">
          <div class="footer-menu-item bold">
            Nous suivre
          </div>
          <div class="footer-icon">
            <%= link_to "https://www.instagram.com/galerie_isabelle_laverny/?hl=fr", class: "footer-icon", target: "_blank" do %>
              <i class="fab fa-instagram"></i>
            <% end %>
            <%= link_to "https://fr-fr.facebook.com/MaisonSurPilotis/", class: "footer-icon", target: "_blank" do %>
              <i class="fab fa-facebook-square"></i>
            <% end %>
            <%= link_to "https://www.pinterest.fr/maisonpilotis/", class: "footer-icon", target: "_blank" do %>
              <i class="fab fa-pinterest-square"></i>
            <% end %>
          </div>
        </div>

        <div class="newsletter">
          <div class="footer-menu-item bold">
            Newsletter
          </div>
          <%= form_tag newsletter_new_email_path do %>
            <%= email_field_tag :query,
              params[:query],
              required: 'required',
              class: "form-inline footer-form-input",
              placeholder: "monadresse@gmail.com" %>
              <%= submit_tag "Je m'inscris", class: 'form-button', data: { confirm: "Ajouter mon email à la Newsletter ?" } %>
          <% end %>
        </div>

        <div class="footer-about">
          <div class="footer-menu-item bold">
            Galerie Isabelle Laverny
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-map-marker-alt"></i> <a href="https://www.google.com/maps/place/27+Rue+Guersant,+75017+Paris/", class="footer-menu-item"> <%= @gallery.address %> </a>
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-phone"></i> <%= @gallery.phone %>
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-clock"></i> <%= @gallery.opening_hours %>
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-envelope"></i> <a href="mailto:<%= @gallery.email %>", class="footer-menu-item"> <%= @gallery.email %> </a>
          </div>



        </div>

      </div>
      <div class="footer-part-2">
        <div class="footer-column">
          <%= link_to "Artistes", artists_path, class: "footer-menu-item bold" %>
          <%= link_to "Karin Boinet", artists_path, class: "footer-menu-item" %>
          <%= link_to "Michel Tréhet", artists_path, class: "footer-menu-item" %>
          <%= link_to "Victoire d’Harcourt", artists_path, class: "footer-menu-item" %>
          <%= link_to "Béatrice Lecomte", artists_path, class: "footer-menu-item" %>
          <%= link_to "Christine Miller", artists_path, class: "footer-menu-item" %>
          <%= link_to "Juliette Lanos Meynial", artists_path, class: "footer-menu-item" %>
          <%= link_to "Florence Lemiegre", artists_path, class: "footer-menu-item" %>

        </div>
        <div class="footer-column">
          <%= link_to "Oeuvres", artworks_path, class: "footer-menu-item bold" %>
          <%= link_to "Sculpture", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Peinture", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Photographie", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Dessin", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Céramique", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Installation", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Edition", artworks_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Expositions", currents_path, class: "footer-menu-item bold" %>
          <%= link_to "Expo en cours", currents_path, class: "footer-menu-item" %>
          <%= link_to "Expo à venir", futures_path, class: "footer-menu-item" %>
          <%= link_to "Expos passées", pasts_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Actualités", actus_path, class: "footer-menu-item bold" %>
          <%= link_to "Presse", actus_path, class: "footer-menu-item" %>
          <%= link_to "Articles", actus_path, class: "footer-menu-item" %>
          <%= link_to "Evènements", actus_path, class: "footer-menu-item" %>
          <%= link_to "Nous recommandons", actus_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "La galerie", galeries_path, class: "footer-menu-item bold" %>
          <%= link_to "Contact", galeries_path, class: "footer-menu-item" %>
          <%= link_to "Adresse", galeries_path, class: "footer-menu-item" %>
        </div>
      </div>
      <div class="footer-part-3">
        <div class="footer-menu-item cgv xs-spacing">
          © <%= Time.now.year %> - Galerie Isabelle Laverny | Créé avec  <i class="fas fa-heart"></i>  par <a href="mailto: omakase.contact@gmail.com", class="footer-menu-item cgv-signature"> Omakase </a>
        </div>
        <div class="footer-legal">
        <%= link_to "Conditions générales d'utilisation", terms_of_service_path, class: "footer-menu-item cgv normal-spacing" %>
        <%= link_to "Protection générales des données", data_privacy_path, class: "footer-menu-item cgv normal-spacing" %>
        <%= link_to "Mentions légales", legal_path, class: "footer-menu-item cgv normal-spacing" %>
        </div>
      </div>
    </footer>
  </div>
</div>
