<div class="gray-wrapper">
  <div class="main-container footer-container">
    <footer id="footer">
      <div class="footer-part-1">

        <div class="footer-follow-us">
          <div class="footer-menu-item bold">
            Nous suivre
          </div>
          <div class="footer-icon">
            <i class="fab fa-instagram"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-pinterest-square"></i>
          </div>
        </div>

        <div class="newsletter">
          <div class="footer-menu-item bold">
            Newsletter
          </div>
          <%= form_tag newsletter_new_email_path do %>
            <%= email_field_tag :query,
              params[:query],
              required: 'required',
              class: "form-inline footer-form-input",
              placeholder: "monadresse@gmail.com" %>
              <%= submit_tag "Je m'inscris", class: 'button primary', data: { confirm: "Ajouter mon email à la Newsletter ?" } %>
          <% end %>
        </div>

        <div class="footer-about">
          <div class="footer-menu-item bold">
            Galerie Isabelle Laverny
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-map-marker-alt"></i> 27 rue Guersant, 75017 Paris
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-phone"></i> 01 45 72 55 69
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-clock"></i> Mardi au vendredi : 12h - 19h15 <br> <i class="fas fa-clock transparent"></i> Samedi : 10h30 - 13h | 15h - 19h30
          </div>
          <div class="footer-menu-item footer-adress">
            <i class="fas fa-envelope"></i> contact@galerieisabellelaverny.com
          </div>



        </div>

      </div>
      <div class="footer-part-2">
        <div class="footer-column">
          <%= link_to "Artistes", artists_path, class: "footer-menu-item bold" %>
          <%= link_to "Béatrice Lecomte", artists_path, class: "footer-menu-item" %>
          <%= link_to "Hervé Goube", artists_path, class: "footer-menu-item" %>
          <%= link_to "Christine Miller", artists_path, class: "footer-menu-item" %>
          <%= link_to "Valérie Leroux", artists_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Oeuvres", artworks_path, class: "footer-menu-item bold" %>
          <%= link_to "Sculpture", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Peinture", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Photographie", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Dessin", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Céramique", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Installation", artworks_path, class: "footer-menu-item" %>
          <%= link_to "Edition", artworks_path, class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Expositions", "#", class: "footer-menu-item bold" %>
          <%= link_to "Exposition en cours", "#", class: "footer-menu-item" %>
          <%= link_to "Exposition à venir", "#", class: "footer-menu-item" %>
          <%= link_to "Archives", "#", class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "Actualités", "#", class: "footer-menu-item bold" %>
          <%= link_to "Sortie culturelle", "#", class: "footer-menu-item" %>
          <%= link_to "Evènement", "#", class: "footer-menu-item" %>
          <%= link_to "Article de presse", "#", class: "footer-menu-item" %>
        </div>
        <div class="footer-column">
          <%= link_to "La galerie", "#", class: "footer-menu-item bold" %>
          <%= link_to "Contact", "#", class: "footer-menu-item" %>
          <%= link_to "Adresse", "#", class: "footer-menu-item" %>
          <%= link_to "Presse", "#", class: "footer-menu-item" %>
        </div>
      </div>
      <div class="footer-part-3">
        <%= link_to "Conditions générales d'utilisation", "#", class: "footer-menu-item cgv" %>
        <%= link_to "Protection générales des données", "#", class: "footer-menu-item cgv" %>
        <%= link_to "Mentions légales", "#", class: "footer-menu-item cgv" %>
      </div>
    </footer>
  </div>
</div>
