<!-- Navbar container -->
<div class="main-navbar">
  <!-- Burger menu icons on mobile -->
  <div class="burger-menu">
    <div id="burger-btn"></div>
  </div>
  <!-- Isabelle Laverny Logo -->
  <div class="navbar-brand">
    <%= link_to root_path do %>
    <p>Galerie Isabelle Laverny</p>
    <% end %>
  </div>
  <!-- Desktop menu -->
  <div class="navbar-right-part">
    <div class="navbar-menu">
    <%= link_to "ARTISTES", artists_path, :class => current_class?(artists_path)%>
    <%= link_to "OEUVRES", artworks_path, :class => current_class?(artworks_path) %>
    <%#= link_to "EXPOS", expos_path, :class => current_class?(expos_path) %>
    <%= link_to "ACTUS", articles_path, :class => current_class?(articles_path) %>
    <%= link_to "LA GALERIE", gallery_index_path, :class => current_class?(gallery_index_path) %>
    <!-- Instagram Logo -->
  </div>
    <div class="navbar-social-networks">
      <%= link_to "https://www.instagram.com/galerie_isabelle_laverny/?hl=fr", target: :_blank do %>
      <i class="fab fa-instagram"></i>
      <% end %>
  </div>
  </div>
</div>

<!-- Mobile menu invisible on desktop, visible on tablet and mobile -->
<div class="mobile-menu-container">
  <%= link_to "ARTISTES", artists_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "OEUVRES", artworks_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "EXPOSITIONS & ACTUS", articles_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "LA GALERIE", gallery_index_path, class: "navbar-menu-item navbar-menu-link" %>
  <!-- Dark div on existing content, visble when the mobile menu is displaying -->
  <div class="mobile-menu-darker">
    <div id="dark-wrapper"></div>
  </div>
</div>


