<!-- Navbar container -->
<div class="navbar">
  <!-- Burger menu icons on mobile -->
  <div class="burger-menu">
    <%= image_tag "burger-menu.png", id: "burger-menu" %>
    <%= image_tag "close-button.png", id: "close-button" %>
  </div>
  <!-- Isabelle Laverny Logo -->
  <div class="navbar-brand">
    <%= link_to root_path do %>
    <p> <span id="Isabelle"> Isabelle Laverny </span> </p>
    <% end %>
  </div>
  <!-- Desktop menu -->
  <div class="navbar-menu">
    <%= link_to "ARTISTES", artists_path, class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "OEUVRES", artworks_path, class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "EXPOSITIONS & ACTUS", "#", class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "LA GALERIE", "#", class: "navbar-menu-item navbar-menu-link" %>
  </div>
  <!-- Instagram Logo -->
  <div class="navbar-social-networks">
    <%= image_tag "instagram-logo.png" %>
  </div>
</div>

<!-- Mobile menu invisible on desktop -->
<div class="mobile-menu">
  <div class="mobile-menu-container">
  <%= link_to "ARTISTES", artists_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "OEUVRES", artworks_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "EXPOSITIONS & ACTUS", "#", class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "LA GALERIE", "#", class: "navbar-menu-item navbar-menu-link" %>
  <div class="mobile-menu-darker">
    <div id="dark-wrapper"></div>
  </div>
  </div>
</div>

