<!-- Navbar container -->
<div class="main-navbar">
  <!-- Burger menu icons on mobile -->
  <div class="burger-menu">
    <div id="burger-btn"></div>
  </div>
  <!-- Isabelle Laverny Logo -->
  <div class="navbar-brand">
    <%= link_to root_path do %>
    <p>Galerie Isabelle Laverny</p>
    <p id="signature"> De l'art à l'art de vivre </p>
    <% end %>
  </div>
  <!-- Desktop menu -->
  <div class="navbar-right-part">
    <div class="navbar-menu">
      <%= link_to "ARTISTES", artists_path, :class => current_class?(artists_path)%>
      <%= link_to "OEUVRES", artworks_path, :class => current_class?(artworks_path) %>
      <%= link_to "EXPOS", currents_path, :class => current_class?(currents_path) %>
      <%= link_to "ACTUS", actus_path, :class => current_class?(actus_path) %>
      <%= link_to "LA GALERIE", galeries_path, :class => current_class?(galeries_path) %>
      <!-- Instagram Logo -->
    </div>
    <div class="navbar-social-networks">
      <%= link_to "https://www.instagram.com/galerie_isabelle_laverny/?hl=fr", target: :_blank do %>
        <%= image_tag "insta1.png", :class => "insta-logo" %>
      <% end %>
    </div>
  </div>
</div>

<!-- Mobile menu invisible on desktop, visible on tablet and mobile -->
<div class="mobile-menu-container">
<!--   <%= link_to "ARTISTES", artists_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "OEUVRES", artworks_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "EXPOS", currents_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "ACTUS", actus_path, class: "navbar-menu-item navbar-menu-link" %>
  <%= link_to "LA GALERIE", galeries_path, class: "navbar-menu-item navbar-menu-link" %> -->
  <%= link_to "ARTISTES", artists_path, :class => current_class_mobile?(artists_path)%>
  <%= link_to "OEUVRES", artworks_path, :class => current_class_mobile?(artworks_path) %>
  <%= link_to "EXPOS", currents_path, :class => current_class_mobile?(currents_path) %>
  <%= link_to "ACTUS", actus_path, :class => current_class_mobile?(actus_path) %>
  <%= link_to "LA GALERIE", galeries_path, :class => current_class_mobile?(galeries_path) %>
  <!-- Dark div on existing content, visble when the mobile menu is displaying -->
  <div class="mobile-menu-darker">
    <div id="dark-wrapper"></div>
  </div>
</div>


