<div class="navbar">
  <!-- Text logo -->
  <div class="burger-menu">
    <%= image_tag "burger-menu.png" %>
  </div>
  <div class="navbar-brand">
    <%= link_to root_path do %>
    <p> <!-- <span id="galerie"> Galerie </span> --> <span id="Isabelle"> Isabelle Laverny </span> </p>
    <% end %>
  </div>
  <!-- Right Navigation -->
  <div class="navbar-menu">
    <!-- Menu links -->
    <%= link_to "ARTISTES", artists_path, class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "OEUVRES", artworks_path, class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "EXPOSITIONS & ACTUS", "#", class: "navbar-menu-item navbar-menu-link" %>
    <%= link_to "LA GALERIE", "#", class: "navbar-menu-item navbar-menu-link" %>
  </div>
  <div class="navbar-social-networks">
    <%= image_tag "instagram-logo.png" %>
  </div>
  <!-- Dropdown list appearing on mobile only -->
<!--   <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">Some mobile link</a></li>
        <li><a href="#">Other one</a></li>
        <li><a href="#">Other one</a></li>
      </ul>
    </div>
  </div> -->
</div>

