<div class="section-title">
  <h1> Découvrez nos artistes </h1>
</div>
<div class="main-container">
  <div class="count">
    12 artistes
  </div>
</div>
  <div class="columns-container">
    <div class="column">
      <%= render 'shared/artist_card2' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card2' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card2' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card' %>
    </div>
    <div class="column">
      <%= render 'shared/artist_card2' %>
    </div>
  </div>


