<!-- <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p> -->

<div class="main-container">
  <div class="row artist-row">
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
  </div>
</div>
