<div class="main-container">
  <div class="row artist-row">
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
    <%= render 'shared/artist_card' %>
  </div>
</div>

