<%# @actus.each do |actu| %>
  <%#= actu %>
<%# end %>

<!-- Main container -->
<div class="main-container">
  <!-- Loop on years -->
  <% @years.reverse.each do |year| %>
    <div class="year">
    <%= year %>
    </div>
    <!-- Bootsrap grid -->
    <div class="grid-expo">
      <div class="row">
        <!-- Loop on expos occurred in the year -->
        <% @actus.select { |actu| actu.publication_date.year == year } .each do |actu| %>
        <div class="col-xs-12 col-sm-6">
          <div class="expos-card">
            <div class="actus-type" style="background-color: <%= actu.event_color %>;"> <%= actu.actu_type %> </div>
            <!-- Expo image -->
            <%= cl_image_tag actu.photo, crop: :fill, class: "expo-img", alt: "#{actu.title_1} - #{actu.title_2}" %>
            <!-- Expo title and subtitle -->
            <div class="expo-main-infos">
              <div class="artist-elements">
                <div class="artist-element-display">
                  <div class="artist-element-content">
                    <h2 class="artist-name">
                      <%= actu.title_1 %>
                    </h2>
                  </div>
                  <div class="artist-hide-block">
                  </div>
                </div>
                <svg class="artist-svg block_edge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                  <polygon fill="white" points="0,0 0,100 100,100"/>
                </svg>
              </div>
              <div class="speciality-infos">
                <div class="speciality-elements">
                  <div class="speciality-element-display">
                    <div class="speciality-element-content">
                      <p class="title-3-small">
                        <%= actu.title_2 %>
                      </p>
                    </div>
                    <div class="speciality-hide-block">
                    </div>
                  </div>
                  <svg class="speciality-svg block_edge" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="white" points="0,0 0,100 100,100"/>
                  </svg>
                </div>
              </div>
            </div>
          <!--  Hover infos display  -->
           <div class="expo-infos">
              <p><span class="expo-infos-title">Lieu :</span> <%= actu.location %></p>
              <% if actu.dates.blank? != false %>
              <p><span class="expo-infos-title">Date :</span> <%= actu.dates %> </p>
              <% end %>
              <p><span class="expo-infos-title">Description :</span> <%= actu.description %> </p>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
