<div class="carousel-main-container">
  <div id="myCarousel" class="carousel slide" data-interval="15000">
    <!-- INDICATORS -->
    <!-- <ol class="carousel-indicators">
      <li class = "active" data-slide-to="0" data-target="#myCarousel"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
      <li data-slide-to="3" data-target="#myCarousel"></li>
    </ol> -->
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <!-- Artists call to action -->
      <div class="item active slide-no-border" class="slide">
        <%= image_tag(@showcase.photo_artist, :class => "carousel-slide") %>
        <div class="carousel-elements">
          <!-- TITLE -->
          <div class="carousel-element-title">
            <div class="carousel-element-display">
              <div class="carousel-element-content-title">
                <h1 class="title-1 carousel-title-1"><%= @artist.first_name%> <%= @artist.last_name %></h1>
              </div>
              <div class="hide-block-title">
              </div>
            </div>
            <svg class="carousel-svg-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon fill="white" points="0,0 0,100 100,100"/>
            </svg>
          </div>
          <!-- CATCH PHRASE -->
          <div class="carousel-elements-2">
            <div class="carousel-element">
              <div class="carousel-element-display">
                <div class="carousel-element-content">
                  <h4 class="title-3-medium"><%= @showcase.artist_description%></h4>
                  <!-- <h4><%= @showcase.artist_description%></h4> -->
                </div>
                <div class="hide-block">
                </div>
              </div>
              <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CALL TO ACTION BUTTON -->
            <div class="call-to-action-div-rel">
              <div class="call-to-action-div-abs">
                <div class="carousel-element-action">
                  <div class="carousel-element-display">
                    <div class="carousel-element-content-action call-to-action">
                      <%= link_to "DÉCOUVRIR L'ARTISTE", artist_path(@artist), :class => "call-to-action-button"%>
                    </div>
                    <div class="hide-block-action">
                    </div>
                  </div>
                  <svg class="carousel-svg-action" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="black" points="0,0 0,100 100,100"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Artworks call to action -->
      <div class="item slide-no-border" class="slide slide-no-border">
        <%= image_tag(@showcase.photo_artwork, :class => "carousel-slide") %>
        <div class="carousel-elements">
          <!-- TITLE -->
          <div class="carousel-elements-2">
            <div class="carousel-element-title">
              <div class="carousel-element-display">
                <div class="carousel-element-content-title">
                  <h1 class="title-1 carousel-title-1"><%= @artwork.name%></h1>
                </div>
                <div class="hide-block-title">
                </div>
              </div>
              <svg class="carousel-svg-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CATCH PHRASE -->
            <div class="carousel-element">
              <div class="carousel-element-display">
                <div class="carousel-element-content">
                  <h4 class="title-3-medium"><%= @showcase.artwork_description%></h4>
                </div>
                <div class="hide-block">
                </div>
              </div>
              <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CALL TO ACTION BUTTON -->
            <div class="call-to-action-div-rel">
              <div class="call-to-action-div-abs">
                <div class="carousel-element-action">
                  <div class="carousel-element-display">
                    <div class="carousel-element-content-action call-to-action">
                      <%= link_to "VOIR L'OEUVRE", artwork_path(@artwork), :class => "call-to-action-button"%>
                    </div>
                    <div class="hide-block-action">
                    </div>
                  </div>
                  <svg class="carousel-svg-action" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="black" points="0,0 0,100 100,100"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Exposition call to action -->
      <div class="item slide-no-border" class="slide slide-no-border">
        <%= image_tag(@showcase.photo_artwork, :class => "carousel-slide") %>
        <div class="carousel-elements">
          <!-- TITLE -->
          <div class="carousel-elements-2">
            <div class="carousel-element-title">
              <div class="carousel-element-display">
                <div class="carousel-element-content-title">
                  <h1 class="title-1 carousel-title-1"><%= @artwork.name%></h1>
                </div>
                <div class="hide-block-title">
                </div>
              </div>
              <svg class="carousel-svg-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CATCH PHRASE -->
            <div class="carousel-element">
              <div class="carousel-element-display">
                <div class="carousel-element-content">
                  <h4 class="title-3-medium"><%= @showcase.artwork_description%></h4>
                </div>
                <div class="hide-block">
                </div>
              </div>
              <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CALL TO ACTION BUTTON -->
            <div class="call-to-action-div-rel">
              <div class="call-to-action-div-abs">
                <div class="carousel-element-action">
                  <div class="carousel-element-display">
                    <div class="carousel-element-content-action call-to-action">
                      <%= link_to "VOIR L'OEUVRE", artwork_path(@artwork), :class => "call-to-action-button"%>
                    </div>
                    <div class="hide-block-action">
                    </div>
                  </div>
                  <svg class="carousel-svg-action" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="black" points="0,0 0,100 100,100"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Gallery call to action -->
      <div class="item slide-no-border" class="slide slide-no-border">
        <%= image_tag(@showcase.photo_artwork, :class => "carousel-slide") %>
        <div class="carousel-elements">
          <!-- TITLE -->
          <div class="carousel-element-title">
            <div class="carousel-element-display">
              <div class="carousel-element-content-title">
                <h1 class="title-1 carousel-title-1"><%= @artwork.name%></h1>
              </div>
              <div class="hide-block-title">
              </div>
            </div>
            <svg class="carousel-svg-title" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
              <polygon fill="white" points="0,0 0,100 100,100"/>
            </svg>
          </div>
          <!-- CATCH PHRASE -->
          <div class="carousel-elements-2">
            <div class="carousel-element">
              <div class="carousel-element-display">
                <div class="carousel-element-content">
                  <h4 class="title-3-medium"><%= @showcase.artwork_description%></h4>
                </div>
                <div class="hide-block">
                </div>
              </div>
              <svg class="carousel-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon fill="white" points="0,0 0,100 100,100"/>
              </svg>
            </div>
            <!-- CALL TO ACTION BUTTON -->
            <div class="call-to-action-div-rel">
              <div class="call-to-action-div-abs">
                <div class="carousel-element-action">
                  <div class="carousel-element-display">
                    <div class="carousel-element-content-action call-to-action">
                      <%= link_to "VOIR L'OEUVRE", artwork_path(@artwork), :class => "call-to-action-button"%>
                      <%#= link_to 'DECOUVRIR LA GALERIE', gallery_index_path, :class => "call-to-action-button"%>
                    </div>
                    <div class="hide-block-action">
                    </div>
                  </div>
                  <svg class="carousel-svg-action" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <polygon fill="black" points="0,0 0,100 100,100"/>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <!-- left side -->
    <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a>
    <!-- right side -->
    <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a>
  </div>
</div>
