<div class="main-container">
  <div id="myCarousel" class="carousel slide">
    <!-- INDICATORS -->
    <ol class="carousel-indicators">
      <li class = "active" data-slide-to="0" data-target="#myCarousel"></li>
      <li data-slide-to="1" data-target="#myCarousel"></li>
      <li data-slide-to="2" data-target="#myCarousel"></li>
      <li data-slide-to="3" data-target="#myCarousel"></li>
    </ol>
    <!-- Wrapper for slides -->

    <div class="carousel-inner">
      <!-- Artists call to action -->
      <div class="item active" class="slide">
        <%= image_tag(@showcase.photo_artist, :class => "carousel-slide") %>
        <div class="carousel-card">
          <div class="card-title">
            <h4><%= @artist.first_name%> <%= @artist.last_name %></h4>
            <p class="catch-phrase">L'étoile montante de l'art contemporain.</p>
          </div>
          <div class="call-to-action">
            <%= link_to "Découvrir l'artiste", artist_path(@artist), class: 'button primary carousel-button'%>
          </div>
          <!-- <div class="call-to-action-all">
            <%= link_to 'artistes', artists_path, class: 'button primary carousel-button' %>
          </div> -->
        </div>
      </div>
      <!-- Artworks call to action -->
      <div class="item" class="slide">
        <%= image_tag(@showcase.photo_artwork, :class => "carousel-slide") %>
        <div class="carousel-card">
          <div class="card-title">
            <h4><%= @artwork.name%></h4>
            <p class="catch-phrase">Une oeuvre inspirée de la vie quotidienne</p>
          </div>
          <div class="call-to-action">
            <%= link_to "Voir l'oeuvre", artwork_path(@artwork), class: 'button primary carousel-button' %>
          </div>
        </div>
      </div>
      <!-- Exposition call to action -->
      <div class="item" class="slide">
        <%= image_tag(@showcase.photo_article, :class => "carousel-slide") %>
        <div class="carousel-card">
          <div class="card-title">
            <h4><%= @article.title%></h4>
            <p class="catch-phrase">L'exposition à ne pas râter</p>
          </div>
          <div class="call-to-action">
            <%= link_to 'En savoir plus', articles_path, class: 'button primary carousel-button' %>
          </div>
        </div>
      </div>
      <!-- Gallery call to action -->
      <div class="item" class="slide">
        <%= image_tag(@showcase.photo_gallery, :class => "carousel-slide") %>
        <div class="carousel-card">
          <div class="card-title">
            <h4><%= @gallery.name_gallery%></h4>
            <p class="catch-phrase">L'antre de l'art à Ternes</p>
          </div>
          <div class="call-to-action">
            <%= link_to 'Découvrir la galerie', gallery_index_path, class: 'button primary carousel-button' %>
          </div>
        </div>
      </div>
    </div>
    <!-- Controls -->
    <!-- left side -->
    <!-- <a class="left carousel-control" data-slide="prev" href="#myCarousel"><span class="icon-prev"></span></a> -->
    <!-- right side -->
    <!-- <a class="right carousel-control" data-slide="next" href="#myCarousel"><span class="icon-next"></span></a> -->
  </div>
</div>
