<p>Hello Isabelle,</p>
<p><strong><%= @fullname %></strong> t'as laissé un message à propos de <strong><%= @artwork_name %></strong> (id sur le site <%= @artwork_id %>) de <strong><%= @artist_fn %> <%= @artist_ln %>.</strong></p>
<p>Voici son message :</p>
<p><strong><%= @message_content %></strong></p>
<p>Et le mail qu'il nous a laissé :</p>
<p><strong><%= @email %></strong></p>
<p>Bien à toi,</p>
<p>Ton site ❤️</p>
