<p>Hello Isabelle,</p>
<p><%= @fullname %> t'as laissé un message à propos de <%= @artwork_name %> (id sur le site <%= @artwork_id %>) de <%= @artist_fn %><%= @artist_ln %></p>
<p>Voici son message :</p>
<p><%= @message_content %></p>
<p>Et le mail qu'il nous a laissé :</p>
<p><%= @email %></p>
<p>Bien à toi,</p>
<p>Ton site</p>
